<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color:red">this is the data inserted into webpage....</h1>
        <table border="2px">
            <tr>
                <th>topic_name</th>
                <th>author</th>
                <th>date</th>
            </tr>
        {% for i in webpage %}
            <tr>
                <th>{{i.topic_name}}</th>
                <th>{{i.name}}</th>
                <th>{{i.urls}}</th>
            </tr>
      
         {% endfor %}
        
    </center>
    
</body>
</html>